
html,
html body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #2c2727;
    font-weight: 300;

    overflow-x: hidden;
    overflow-y: auto;
}
.clearfix:after {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    font-weight: 500;
    font-size: 1.75rem;
}

nav,
header,
body {display:block; width: 100vw; }
nav {
    background: #76b82a url('styles/logo.png') no-repeat 2rem center;
    height: 120px;
}
nav > div {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

}
body {
    background: #ffffff;
}
header {
    background: #2c2727;
    height: 240px;
}
.main {
    width: 100%;
    margin: -240px auto 0;
    max-width: 960px;
    background: rgba(255,255,255,.1);
    min-height: calc(100vh - 120px);
    box-shadow: 0 10px 10px rgba(40,40,40,.2);
}
.main .content-ctr,
.main .content-lft,
.main .content-rgt {
    display: block;
    float: left;
    padding: 1rem 2rem;
}
.main .content-ctr {
    border-radius: 2px 2px 0 0;
    background: #ffffff;
    margin-top: 60px;
    min-height: 180px;
    width: calc(100% - 360px);
    min-height: calc(100vh - 150px);
    box-shadow: 0 10px 10px rgba(40,40,40,.2);
}
.main .content-lft,
.main .content-rgt {
    min-height: 240px;
}
.main .content-lft {
    width: 120px
}
.main .content-rgt {
    width: 240px;
}